# LLM
API_KEY='up_*************************oaE6'
UPSTAGE_API_KEY=...

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT=...

# Tavily
TAVILY_API_KEY=...

# Qdrant VectorDB
QDRANT_URL=...
QDRANT_API_KEY=...